* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: inter;
  width: 100%;
  margin: 0 auto;
  background: rgb(251, 254, 255);
}

.Title {
  margin: auto;
  text-align: center;
  width: 60%;
  padding: 20px;
  border-radius: 10px;
  color: white;
  background: #B0C4DE;
  font-family: "Times New Roman";
}

.all__news {
  display: flex;
  padding: 20px;
  margin-top: 5px;
  margin-left: 50px;
}

.right {
  flex: 1;
}

.left {
  flex: 1;
}

.news {
  max-width: 550px;
  padding: 30px;
  border: 2px solid lightgray;
  border-radius: 10px;
}

.news__title {
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
}

.news__desc {
  padding-top: 10px;
  line-height: 25px;
  font-size: 14px;
  padding-bottom: 10px;
}

.news__author {
  margin-right: 10px;
  color: purple;
}

.news__published {
  margin-right: 10px;
}

.news__source,
.news__published {
  display: inline-block;
  margin-top: 10px;
  color: rgb(122, 122, 122);
}
